[main]
this = is actually useless I forgot that it makes a separate entry for all the different firmwares

[1.0.0]
info = Updating is morally equivalent to killing a bag of puppies and kittens, drinking their blood, and using their bodies for occult rituals. You will be among the first to get CFW. There is no time estimate.

[2.0.0]
info = There is no advantage to 2.0.0-2.3.0 over 3.0.0. You should update to 3.0.0 to get Homebrew now. You will be among the second to get CFW. There is no time estimate.

[2.1.0]
info = There is no advantage to 2.0.0-2.3.0 over 3.0.0. You should update to 3.0.0 to get Homebrew now. You will be among the second to get CFW. There is no time estimate.

[2.2.0]
info = There is no advantage to 2.0.0-2.3.0 over 3.0.0. You should update to 3.0.0 to get Homebrew now. You will be among the second to get CFW. There is no time estimate.

[2.3.0]
info = There is no advantage to 2.0.0-2.3.0 over 3.0.0. You should update to 3.0.0 to get Homebrew now. You will be among the second to get CFW. There is no time estimate.

[3.0.0]
info = You have Homebrew now. You will be among the second to get CFW. There is no time estimate.

[3.0.1]
info = There is no advantage to any firmware within the 3.0.1-4.1.0 bracket hacks-wise, however the higher you are the more games you can play. You will be among the third to get CFW. There is no time estimate.

[3.0.2]
info = There is no advantage to any firmware within the 3.0.1-4.1.0 bracket hacks-wise, however the higher you are the more games you can play. You will be among the third to get CFW. There is no time estimate.

[4.0.0]
info = There is no advantage to any firmware within the 3.0.1-4.1.0 bracket hacks-wise, however the higher you are the more games you can play. You will be among the third to get CFW. There is no time estimate.

[4.1.0]
info = There is no advantage to any firmware within the 3.0.1-4.1.0 bracket hacks-wise, however the higher you are the more games you can play. You will be among the third to get CFW. There is no time estimate.

[5.0.0]
info = It is unknown if/when 5.0.0 will be hacked. There is no time estimate.

[4.0.1]
info = There is no advantage to any firmware within the 3.0.1-4.1.0 bracket hacks-wise, however the higher you are the more games you can play. You will be among the third to get CFW. There is no time estimate.

